@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="../Usuario/Login" role="button">Entrar no Sistema</a>
            @* <button type="button" class="btn btn-blo btn-primary"><a href="../Usuario/Login"></a> Entrar no Sistema</button> *@
        </div>
    </div>
    <div class="col-lg-6">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-success"> Registar uma conta</button>
        </div>
    </div>
</div>